  .spinner-container{
    display:grid;
    place-items:center;
  }
  .spinner{
    width: 2rem;
    height:2rem;
    border-radius: 50%;
    /* border-right-color: transparent; */
    animation: rot 1.2s linear infinite;
  }

  .spinner-center{
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  @keyframes rot {
    100%{
      transform: rotate(360deg);
    }
  }