  .spinner-container{
    display:grid;
    place-items:center;
  }
  .spinner{
    border: 3px solid #29e5ee;
    width: 2rem;
    height:2rem;
    border-radius: 50%;
    border-right-color: transparent;
    animation: rot 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  @keyframes rot {
    100%{
      transform: rotate(360deg);
    }
  }